<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VerificaVersaoDlls.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <VerificaVersaoDlls.Properties.Settings>
            <setting name="FilePath1" serializeAs="String">
                <value />
            </setting>
            <setting name="lbl_Cliente1" serializeAs="String">
                <value>Cliente 1</value>
            </setting>
            <setting name="FilePath2" serializeAs="String">
                <value />
            </setting>
            <setting name="FilePath3" serializeAs="String">
                <value />
            </setting>
            <setting name="FilePath4" serializeAs="String">
                <value />
            </setting>
            <setting name="lbl_Cliente2" serializeAs="String">
                <value>Cliente 2</value>
            </setting>
            <setting name="lbl_Cliente3" serializeAs="String">
                <value>Cliente 3</value>
            </setting>
            <setting name="lbl_Cliente4" serializeAs="String">
                <value>Cliente 4</value>
            </setting>
            <setting name="FilePath5" serializeAs="String">
                <value />
            </setting>
            <setting name="FilePath6" serializeAs="String">
                <value />
            </setting>
            <setting name="FilePath7" serializeAs="String">
                <value />
            </setting>
            <setting name="FilePath8" serializeAs="String">
                <value />
            </setting>
            <setting name="FilePath9" serializeAs="String">
                <value />
            </setting>
            <setting name="FilePath10" serializeAs="String">
                <value />
            </setting>
            <setting name="FilePath11" serializeAs="String">
                <value />
            </setting>
            <setting name="FilePath12" serializeAs="String">
                <value />
            </setting>
            <setting name="FilePath13" serializeAs="String">
                <value />
            </setting>
            <setting name="FilePath14" serializeAs="String">
                <value />
            </setting>
            <setting name="FilePath15" serializeAs="String">
                <value />
            </setting>
            <setting name="FilePath16" serializeAs="String">
                <value />
            </setting>
            <setting name="FilePath17" serializeAs="String">
                <value />
            </setting>
            <setting name="FilePath18" serializeAs="String">
                <value />
            </setting>
            <setting name="FilePath19" serializeAs="String">
                <value />
            </setting>
            <setting name="FilePath20" serializeAs="String">
                <value />
            </setting>
            <setting name="lbl_Cliente5" serializeAs="String">
                <value>Cliente 5</value>
            </setting>
            <setting name="lbl_Cliente6" serializeAs="String">
                <value>Cliente 6</value>
            </setting>
            <setting name="lbl_Cliente7" serializeAs="String">
                <value>Cliente 7</value>
            </setting>
            <setting name="lbl_Cliente8" serializeAs="String">
                <value>Cliente 8</value>
            </setting>
            <setting name="lbl_Cliente9" serializeAs="String">
                <value>Cliente 9</value>
            </setting>
            <setting name="lbl_Cliente10" serializeAs="String">
                <value>Cliente 10</value>
            </setting>
            <setting name="lbl_Cliente11" serializeAs="String">
                <value>Cliente 11</value>
            </setting>
            <setting name="lbl_Cliente12" serializeAs="String">
                <value>Cliente 12</value>
            </setting>
            <setting name="lbl_Cliente13" serializeAs="String">
                <value>Cliente 13</value>
            </setting>
            <setting name="lbl_Cliente14" serializeAs="String">
                <value>Cliente 14</value>
            </setting>
            <setting name="lbl_Cliente15" serializeAs="String">
                <value>Cliente 15</value>
            </setting>
            <setting name="lbl_Cliente16" serializeAs="String">
                <value>Cliente 16</value>
            </setting>
            <setting name="lbl_Cliente17" serializeAs="String">
                <value>Cliente 17</value>
            </setting>
            <setting name="lbl_Cliente18" serializeAs="String">
                <value>Cliente 18</value>
            </setting>
            <setting name="lbl_Cliente19" serializeAs="String">
                <value>Cliente 19</value>
            </setting>
            <setting name="lbl_Cliente20" serializeAs="String">
                <value>Cliente 20</value>
            </setting>
        </VerificaVersaoDlls.Properties.Settings>
    </userSettings>
</configuration>